.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.subtitle {
  color: white;
  font-weight: 300;
  text-shadow: 0 0 4px white;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
  }
}
