@import '../../Styles/variables.scss';

@keyframes pulse {
  0% {
    box-shadow: 0 0 8px $forest-green, inset 0 0 8px $forest-green;
  }

  50% {
    box-shadow: 0 0 16px $sage-green, inset 0 0 14px $sage-green;
  }

  100% {
    box-shadow: 0 0 8px $forest-green, inset 0 0 8px $forest-green;
  }
}

.feelingButton {
  background-color: transparent;
  width: 10rem;
  height: 10rem;
  border-radius: 12rem;
  box-shadow: 0 0 8px$light-brown, inset 0 0 8px$light-brown;
  -webkit-animation: pulse 2s linear 1s infinite;
  margin: 1rem;
}

.feelingButton p {
  display: block;
  text-align: center;
  line-height: 10rem;
  font-family: sans-serif;
  font-size: 2.7rem;
  color: $dark-brown;
  text-shadow: 0 0 2px $dark-brown;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
