//added in SCSS variables for usage

//colors
//added in SCSS variables for usage

//colors
$light-yellow: #f0d0a3;
$forest-green: #283618;
$sage-green: #606C38;
$light-brown: #DDA15E;
$rich-brown: #BC6C25;
$dark-brown: #3c3525;
$ocean-blue: #05668d;
$teal: #B9A44C;

//spacing
$space-24: 1.5rem;

//borders
$blue-border: 0.25rem solid #768ca0;
$yellow: #eab93d;
$orange: #d27736;
$blue: #768ca0;
$dark-brown: #3c3525;

//spacing
$space-24: 1.5rem;