html {
  height: 100vh;
  background: antiquewhite;
}

.body {
  width: 100%;
  height: 100%;
}

.subtitle,
.line,
.subline {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: #e67b46;
  text-shadow: 0 0 4px #e67b46;
}

.subtitle,
.subline {
  text-align: center;
}