@import '../../Styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

html {
  height: 100vh;
  background-color: #FEFAE0;
}

body {
  font-family: 'Combo', cursive;
  width: 100%;
  height: 100%;
}

.subtitle,
.line,
.subline {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: $rich-brown;
  text-shadow: 0 0 4px $rich-brown;
}

.subtitle,
.subline {
  text-align: center;
}