@import '../../Styles/variables.scss';

html {
  height: 100vh;
  background-color: #FEFAE0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.body {
  width: 100%;
  height: 100%;
}

.subtitle,
.line,
.subline {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: $rich-brown;
  text-shadow: 0 0 4px $rich-brown;
}

.subtitle,
.subline {
  text-align: center;
}