.diary-cards {
  text-align: center;
  box-shadow: 0 0 8px #13090d, inset 0 0 8px #1a0b11;
  -webkit-animation: pulse 2s linear 1s infinite;
  margin: 2rem;
  color: black;
  padding: 1rem;
  max-width: 17rem;
  min-width: 12rem;
  font-size: 1.5rem;
}