.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;

  .dropdown,
  .submit {
    height: 3rem;
    margin: 1rem;
    width: 20rem;
    font-size: 30px;
  }
}

.entry-text {
  height: 20rem;
  width: 20rem;
  font-size: 20px;
}