@keyframes pulse {
  0% { box-shadow:0 0 8px #e0acc0, inset 0 0 8px #e0acc0; }
  50% { box-shadow:0 0 16px #f1b5cc, inset 0 0 14px #e0acc0; }
  100% { box-shadow:0 0 8px #e0acc0, inset 0 0 8px #e0acc0; }
}

.feelingButton {
  background-color: transparent;
  width: 120px;
  height: 120px;
  border-radius: 75px;
  box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  -webkit-animation: pulse 2s linear 1s infinite;
  margin: 1em;
}

.feelingButton p {
  display: block;
  text-align: center;
  line-height: 120px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #ea4c89;
  text-shadow: 0 0 4px #ea4c89;
}

.joy p {
  color: #eaea4c;
  text-shadow: 0 0 4px #eaea4c;
}

.sadness p {
  color: #827aca;
  text-shadow: 0 0 4px #827aca;
}

.fear p {
  color: #7aca8b;
  text-shadow: 0 0 4px #7aca8b;
}

.anger p {
  color: #ed5362;
  text-shadow: 0 0 4px #ed5362;
}

.surprise p {
  color: #5eedeb;
  text-shadow: 0 0 4px #5eedeb;
}

.other p {
  color: #e7e1da;
  text-shadow: 0 0 4px #e7e1da;
}

