@import '../../Styles/variables.scss';

.title {
  font-family: sans-serif;
  text-align: center;
  font-size: 2.8rem;
  color: $light-yellow;
  text-shadow: 0 0 .3rem $light-yellow;
  margin: 0;
  padding: 1rem;
}

.line {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.header {
  height: 15rem;
  background-color: $forest-green;
}

