.title {
  font-family: sans-serif;
  text-align: center;
  font-size: 2.5rem;
  color: #b346e6;
  text-shadow: 0 0 .3rem #b346e6;
  margin: 0;
  padding: 1rem;
}

.line {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.header {
  height: 13rem;
  background-color: antiquewhite;
}

