@import '../../../Styles/variables.scss';

.about-section,
.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .about-title,
  h3 {
    margin: 2rem;
    color: $ocean-blue;
    text-shadow: 0 0 1rem $ocean-blue;
    font-size: 2.5rem;
    text-align: center;
  }

  h3 {
    color: $rich-brown;
    text-shadow: 0 0 1rem $rich-brown;
    font-size: 2rem;
    margin: 1rem;
  }

  .about-description,
  .about-last {
    font-size: large;
    color: $dark-brown;
    font-size: 1.6rem;
  }

  h1 {
    margin: 1rem;
  }
}

.photo-text-container {
  display: flex;
  width: 65%;
  justify-content: center;
  align-items: center;
}

.text-container {
  text-align: center;
}

img {
  margin: 2rem;
}

@media (min-width: 768px) {}