@import '../../../Styles/variables.scss';

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .about-title {
    margin: 2rem;
    color: $ocean-blue;
    text-shadow: 0 0 1rem $ocean-blue;
    font-size: 2.5rem;
    text-align: center;
  }

  .about-description {
    font-size: large;
    color: $dark-brown;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 1rem;
    border: 2px solid $ocean-blue;
    width: 80%;
  }
}

@media (min-width: 768px) {}