@import '../../../Styles/variables.scss';

.stats-container {
  border: 2px solid #857e7a;
  width: 19rem;
  padding: 1rem;
  margin-top: 0;
}

@media (min-width: 768px) {
  .stats-container {
    width: 40rem;
  }
}

@media (min-width: 1000px) {
  .stats-container {
    width: 60rem;
  }
}

.page-container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-button p {
  font-size: 1.6rem;
  line-height: 6rem;
  color: $forest-green;
  text-shadow: 0 0 4px $forest-green;
}

.home-button {
  width: 6rem;
  height: 6rem;
}