.nav-link {
  text-decoration: none;
  margin: .5rem;
}

nav {
  text-align: center;
  margin: 1.5rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #ea4c89;
  text-shadow: 0 0 1rem #ea4c89;
}